.container-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.container-cart h1 {
  margin-left: 30px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 330px;
  margin: 10px;
  border-bottom: 2px solid black;
}

.cards p {
  margin: 0px;
  width: 90%;
  height: 90px;
}

.cards img {
  width: 90%;
  height: 140px;
  border-radius: 5px;
}

.cards h2 {
  height: 30px;
  width: 60%;
  margin-bottom: 5px;
}

.cards button {
  height: 30px;
  width: 50%;
  top: 5px;
}

@media only screen and (width: 360px) {
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 30px;
    width: 355px;
    margin: 20px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 330px;

    border-bottom: 2px solid black;
  }

  .cards p {
    margin: 0px;
    width: 90%;
    height: 90px;
  }

  .cards img {
    width: 90%;
    height: 140px;
    border-radius: 5px;
  }

  .cards h2 {
    height: 30px;
    width: 60%;
    margin-bottom: 5px;
  }

  .cards button {
    height: 30px;
    width: 50%;
    top: 5px;
  }
}

@media only screen and (width: 384px) {
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 30px;
    width: 365px;
    margin: 20px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 330px;

    border-bottom: 2px solid black;
  }

  .cards p {
    margin: 0px;
    width: 90%;
    height: 90px;
  }

  .cards img {
    width: 90%;
    height: 140px;
    border-radius: 5px;
  }

  .cards h2 {
    height: 30px;
    width: 60%;
    margin-bottom: 5px;
  }

  .cards button {
    height: 30px;
    width: 50%;
    top: 5px;
  }
}
@media only screen and (width: 412px) {
  .container-cards {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 30px;
    width: 395px;
    margin: 20px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 330px;

    border-bottom: 2px solid black;
  }

  .cards p {
    margin: 0px;
    width: 90%;
    height: 90px;
  }

  .cards img {
    width: 90%;
    height: 140px;
    border-radius: 5px;
  }

  .cards h2 {
    height: 30px;
    width: 60%;
    margin-bottom: 5px;
  }

  .cards button {
    height: 30px;
    width: 50%;
    top: 5px;
  }
}
