.back-page {
  width: 40px;
  margin: 10px;
}

@media only screen and (width: 360px) {
  .container-cart {
    width: 360px;
    height: 100%;
  }

  .container-cart h1 {
    text-align: center;
    width: 360px;
  }

  .container-cart h3 {
    margin-top: 30px;
  }

  .container-cards {
    position: relative;
    top: 30px;
    left: -20px;
    width: 360px;
  }

  .back-page {
    margin-top: 10px;
    animation: leftRight 1s infinite, widthLogo 1s infinite;
  }
}

@keyframes leftRight {
  0% {
    margin-left: 10px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 10px;
  }
}

@keyframes widthLogo {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (width: 384px) {
  .container-cart {
    width: 384px;
  }

  .container-cart h1 {
    text-align: center;
    width: 384px;
  }

  .container-cart h3 {
    margin-top: 10px;
  }

  .container-cards {
    position: relative;
    top: 30px;
    left: -20px;
    width: 384px;
  }

  .back-page {
    margin: 10px;
    animation: leftRight 1s infinite, widthLogo 1s infinite;
  }
}

@media only screen and (width: 412px) {
  .container-cart {
    width: 412px;
  }

  .container-cart h1 {
    text-align: center;
    width: 412px;
  }

  .container-cart h3 {
    margin-top: 10px;
  }

  .container-cards {
    position: relative;
    top: 30px;
    left: -20px;
    width: 412px;
  }

  .back-page {
    margin: 10px;
    animation: leftRight 1s infinite, widthLogo 1s infinite;
  }
}
