.category-menu {
  display: none;
}

.menu-display {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 50px;
  top: 210px;
  width: 830px;
  height: 400px;
  z-index: 10;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 2px 2px 4px black;
  animation: opacidade 1s;
}

@keyframes opacidade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.category-menu p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 35px;
  cursor: pointer;
}

.category-menu p:hover {
  background-color: rgb(236, 207, 143);
}
