.header-first-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../images/background-header.jpg');
  background-size: 100% 250px;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
}

.logo-header {
  width: 300px;
  height: 150px;
}

.header-first-page input {
  font-size: 15pt;
  width: 400px;
  height: 40px;
  border-radius: 3px;
}

.header-first-page input:hover {
  border: 2px solid rgb(25, 130, 228);
}

.next-page {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

.next-login {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
}

.links-header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 180px;
  width: 100%;
}

.logo-search {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 115px;
  right: 200px;
  opacity: 0.5;
}

.logo-cart {
  right: 0%;
  top: -0px;
  width: 30px;
}

.logo-menu {
  width: 25px;
  top: 8px;
  left: -350px;
  cursor: pointer;
}

.card-page {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 250px;
}

@media only screen and (width: 412px) {
  .container-Header-page {
    width: 412px;
  }

  .header-first-page {
  }
}

@media only screen and (width: 360px) {
  .container-Header-page {
    position: absolute;
    right: 50px;
    width: 360px;
  }

  .header-first-page {
    width: 360px;
    margin-left: 50px;
    background-size: cover;
  }

  .header-first-page input {
    position: absolute;
    width: 90%;
    left: 60px;
    border: 2px solid red;
  }

  .logo-header {
    position: absolute;
    width: 150px;
    height: 100px;
    top: 20px;
    left: 50px;
  }

  .next-login {
    position: absolute;
    top: 40px;
    right: -30px;
  }

  .logo-search {
    top: 140px;
    left: 350px;
  }

  .links-header {
    width: 350px;
  }

  .next-page {
    margin: 0px;
  }
}

@media only screen and (width: 384px) {
  .container-Header-page {
    width: 384px;
  }
}
