.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: black;
}

.swiper-button-prev {
  color: black;
}

.swiper-button-next {
  color: black;
}
