.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: #ee8d32;
}

.swiper-button-prev {
  color: #ee8d32;
}

.swiper-button-next {
  color: #ee8d32;
}
